In [8]:
tup1=(1,2,3,4)
tup1[-1:-5:-1]

(4, 3, 2, 1)

In [11]:
tup2=('orange',[10,20,30],(5,15,25))
tup2[1][1]

20

In [12]:
tup3=(50)
print(tup3)

50

In [59]:
Tuple=(10,20,30,40)
a,b,c,d= Tuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [14]:
t1=(11,22)
t2=(99,88)
t1,t2=t2,t1
print(t1,t2)

(99, 88) (11, 22)

In [19]:
tuple1=(11,[22,33],44,55)
a=list(tuple1)
a[1][0]=222
print(tuple(a))

(11, [222, 33], 44, 55)

In [20]:
tuple1=(10,20,50,20,40,50)
a=tuple1.count(50)
print(a)

2

In [51]:
l=[(1,2),(3,4),(8,9)]
a,b=zip(*l)
print(a)
print(b)

(1, 3, 8)
(2, 4, 9)

In [24]:
tuple1=(10,20,50,20,40,50)
tuple1=list(tuple1)
tuple1.remove(10)
print(tuple(tuple1))

(20, 50, 20, 40, 50)

In [27]:
tuple1=('a','b','c','d','ab','bc','cd','ef','fg')
a=tuple1[3]
b=tuple1[-4]
print(a,b)

d bc

In [39]:
#Tuple=('e','x','e','r','c','i','s','e')
tup = "".join(Tuple)
print(tup)

exercise

In [33]:
seta={1,2,3,4}
print(min(seta))
print(max(seta))

1
4

In [34]:
seta={1,2,3,4}
setb={3,4,5,6}
print(seta.intersection(setb))

{3, 4}

In [35]:
print(seta.difference(setb))

{1, 2}

In [36]:
print(seta.symmetric_difference(setb))

{1, 2, 5, 6}

In [38]:
print(seta.isdisjoint(setb))

False

In [40]:
u={1,2,3,4,5,6,7,8,9,10}
a={2,4,6,8,10}
print(a.issubset(u))
print(u.issubset(a))

True
False

In [42]:
setz={'yellow','orange','black'}
list1=['blue','green','red']
setz.update(list1)
print(setz)

{'orange', 'yellow', 'blue', 'red', 'black', 'green'}

In [45]:
#
u={1,2,3,4,5,6,7,8,9,10}
a={2,4,6,8,10}
z=u.symmetric_difference(a)
print(z)

{1, 3, 5, 7, 9}

In [2]:
u={1,2,3,4,5,6,7,8,9,10}
a={2,4,6,8,10}
z=a.copy()
print(z)

{2, 4, 6, 8, 10}

In [3]:
x=a.pop()
print(x)

2

In [4]:
a.remove(4)
print(a)

{6, 8, 10}