# Python List

Q.Properties of list are
1.mutable
2.ordered
3.heterogenous
4.Duplicates

In [1]:
#Create list of your name,age,field,std,roll no.,location,using [] and list constructor
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
print(list1)
list2=(('pratham',19.1,'IT','S.Y',21,'Thane'))
print(list2)

['pratham', 19.1, 'IT', 'S.Y', 21, 'Thane']
('pratham', 19.1, 'IT', 'S.Y', 21, 'Thane')

In [2]:
#print only your field using index method
print(list1[2])

IT

In [3]:
#print the position of location element
print(list1.index('Thane'))

5

In [4]:
#print the element between age and roll no using forward and backward index
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
print(list1[1:-1])

[19.1, 'IT', 'S.Y', 21]

In [5]:
#eplace the element of name with surname
list1[0]='Sarphale'
print(list1)

['Sarphale', 19.1, 'IT', 'S.Y', 21, 'Thane']

In [6]:
#replace the element of name age and field
list1[0:3]=['Sarphale',19,'C.S']
print(list1)

['Sarphale', 19, 'C.S', 'S.Y', 21, 'Thane']

In [7]:
#replace the element of name and age with only surname
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
list1[0:2]=['Sarphale']
print(list1)

['Sarphale', 'IT', 'S.Y', 21, 'Thane']

In [19]:
#replace the element of name with your nickname and surname
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
list1[0:1]=['P.R.S','Sarphale']
print(list1)

['P.R.S', 'Sarphale', 19.1, 'IT', 'S.Y', 21, 'Thane']

In [9]:
#add your surname in the list after your first name
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
list1.insert(1,'sarphale')
print(list1)

['pratham', 'sarphale', 19.1, 'IT', 'S.Y', 21, 'Thane']

In [10]:
#add your only one hobby at the end of the list
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
list1.append('Programming')
print(list1)

['pratham', 19.1, 'IT', 'S.Y', 21, 'Thane', 'Programming']

In [11]:
#add your n number of hobbies at the end of the list
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
list1.extend(['swimming','cycling','reading','playing'])
print(list1)

['pratham', 19.1, 'IT', 'S.Y', 21, 'Thane', 'swimming', 'cycling', 'reading', 'playing']

In [12]:
#remove your location from the list
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
list1.remove('Thane')
print(list1)

['pratham', 19.1, 'IT', 'S.Y', 21]

In [13]:
#remove your age from list
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
list1.remove(19.1)
print(list1)

['pratham', 'IT', 'S.Y', 21, 'Thane']

In [25]:
#remove your age from list
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
del list1[1]
print(list1)

['pratham', 'IT', 'S.Y', 21, 'Thane']

In [26]:
#remove all elements from the list
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
list1.clear()
print(list1)

[]

In [29]:
#delete the list;the name error occurs because the list has been deleted
list1=['pratham',19.1,'IT','S.Y',21,'Thane']
del list1
print(list1)

NameError: name 'list1' is not defined

In [30]:
#create a list of prime numbers till 20 and find the length of it
list2=[1,2,3,5,7,11,13,17,19]
len(list2)

9

In [31]:
#print largest number from the list
max(list2)

19

In [32]:
#print smallest number from the list
min(list2)

1

In [35]:
#print sum of prime numbers till 20
sum(list2)

78

In [41]:
#create list using numbers and booleans and apply functions of all
list3=[True,1,1]
all(list3)

True

In [43]:
list3=[True,0,1]
all(list3)

False

In [44]:
list3=[0,0,0]
all(list3)

False

In [45]:
list3=[]
all(list3)

True

In [46]:
#create list using numbers and booleans and apply functions of any
list3=[True,1,1]
any(list3)

True

In [47]:
list3=[True,0,1]
any(list3)

True

In [48]:
list3=[0,0,0]
any(list3)

False

In [49]:
list3=[]
any(list3)

False

In [50]:
#create list of 5,2,18,7,12 and print in ascending order
list4=[5,2,18,7,12]
list4.sort()
print(list4)

[2, 5, 7, 12, 18]

In [60]:
#create list of 5,2,18,7,12 and print in reverse order
list4=[5,2,18,7,12]
list4.reverse()
print(list4)

[12, 7, 18, 2, 5]

In [92]:
#merge two lists using 2 methods
list5=[1,2,3,4]+[5,6,7,8]
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8]

In [95]:
#merge two lists using 2 methodslist5=[1,2,3,4]
list6=[5,6,7,8]
list5.extend(list6)
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8]

In [68]:
#make a deep copy of list and check whether it iscopying deeply or not
list5=[12, 7, 18, 2, 5, 1, 2, 3] 
list6=[5, 7, 11, 13, 17, 19, 23]
list5=list6
list5.append(29)
print(list6)

[5, 7, 11, 13, 17, 19, 23, 29]

In [73]:
#mkae a copy of list in that way making changes in one list will not affect to the another list
list5=[12, 7, 18, 2, 5, 1, 2, 3]
list6=[5, 7, 11, 13, 17, 19, 23]
c=list5.copy()

In [77]:
#take any example to explain stack
list7=[1,2,3,4]
list7.append(5)#last in 
print(list7)

[1, 2, 3, 4, 5]

In [78]:
list7.pop()#frist out

5

In [79]:
#take any example to explain queue
list7=[1,2,3,4]
list7.append(5)#first in
print(list7)

[1, 2, 3, 4, 5]

In [80]:
list7.pop(0)#first element gets out

1

In [1]:
#zip four list contained with natural number,your name,age,roll no.
a=[1,'pratham',19,21]
b=[2,'suraj',18,22]
c=[3,'hrishikesh',19,23]
d=[4,'yash',19,24]
mapped=zip(a,b,c,d)
mapped=list(mapped)
print(mapped)

[(1, 2, 3, 4), ('pratham', 'suraj', 'hrishikesh', 'yash'), (19, 18, 19, 19), (21, 22, 23, 24)]

In [2]:
#unzip the above list
ae,be,ce,de=zip(*mapped)
print(ae)
print(be)
print(ce)
print(de)

(1, 'pratham', 19, 21)
(2, 'suraj', 18, 22)
(3, 'hrishikesh', 19, 23)
(4, 'yash', 19, 24)